<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # если /qTwnVrXEBN, то в backend
    RewriteCond %{REQUEST_URI} ^/qTwnVrXEBN
    RewriteRule ^qTwnVrXEBN(.*) /backend/web/$1 [L]

    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteRule ^(.*)$ frontend/web/$1
</IfModule>